<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.neu.madcourse.dankreymer"
      android:versionCode="12"
      android:versionName="3.01">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />
    
    <!-- Permissions stuff /-->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_DATA" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:icon="@drawable/ic_launcher"
          android:label="@string/app_name">
        <activity android:name=".main.Main"
              android:label="@string/main_title">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        <activity android:name=".main.About"
              android:label="@string/about_title"
              android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".sudoku.AboutSudoku"
              android:label="@string/about_title"
              android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".sudoku.Prefs" android:label="@string/settings_title"/>
        <activity android:name=".sudoku.Sudoku" android:label="@string/sudoku_title"/>
        <activity android:name=".sudoku.SudokuGame" android:label="@string/game_title"/>
        <activity android:name=".dictionary.Dictionary" android:label="@string/dictionary_title"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".dabble.Dabble" android:label="@string/dabble_title"/>
        <activity android:name=".dabble.DabbleGame" android:label="@string/dabble_title"
                  android:screenOrientation="landscape"/>
        <activity android:name=".dabble.DabbleHint" android:label="@string/dabble_hint"
                  android:launchMode="singleTop"
           		  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".dabble.DabblePause" android:label="@string/dabble_pause"
                  android:launchMode="singleTop"
           		  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".dabble.DabbleGameOver" android:label="@string/dabble_game_over"
                  android:launchMode="singleTop"
           		  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".dictionary.AcknowledgementsDictionary" 
                  android:label="@string/acknowledgements_title"
                  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".dabble.DabbleAcknowledgements" 
                  android:label="@string/acknowledgements_title"
                  android:theme="@android:style/Theme.Dialog"/>
    </application>
</manifest>