<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.reubenjacobs"
    android:versionCode="24"
    android:versionName="5.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.main.AboutActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.main.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.sudoku.Sudoku"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.sudoku.About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.sudoku.Prefs"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.sudoku.Game"
            android:label="@string/game_title" />
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.main.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.main.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.Acknowledgements"
            android:label="@string/title_activity_acknowledgements"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.DictionaryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.DictionaryActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.Dabble"
            android:configChanges="orientation"
            android:label="@string/title_activity_dabble"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.WelcomeDabble"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.WelcomeDabble" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.WelcomeDabble"
            android:label="@string/title_activity_welcome_dabble"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.main.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.PauseDabble"
            android:label="@string/title_activity_pause_dabble"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.Dabble" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.Dabble" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.twoplayerdabble.PauseDabble"
            android:label="@string/title_activity_pause_dabble"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleGame" />
        </activity>        
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.DabbleAcknow"
            android:label="@string/title_activity_dabble_acknow"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.WelcomeDabble" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.WelcomeDabble" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.DabbleComm"
            android:configChanges="orientation"
            android:label="@string/title_activity_dabble_comm"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.WelcomeComm"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.main.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.WelcomeComm"
            android:label="@string/title_activity_welcome_comm"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.main.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.CommPlayerlist"
            android:label="@string/title_activity_comm_playerlist"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.DabbleComm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.DabbleComm" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.CommGame"
            android:label="@string/title_activity_comm_game"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.DabbleComm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.DabbleComm" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.CommAcknow"
            android:label="@string/title_activity_comm_acknow"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.WelcomeComm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.WelcomeComm" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleWelcome"
            android:label="@string/title_activity_two_player_dabble_welcome"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.main.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleHome"
            android:configChanges="orientation"
            android:label="@string/title_activity_two_player_dabble_home"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleWelcome"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleWelcome" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleGame"
            android:configChanges="orientation"
            android:label="@string/title_activity_two_player_dabble_game"
            android:parentActivityName="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleHome"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.reubenjacobs.twoplayerdabble.TwoPlayerDabbleHome" />
        </activity>
    </application>

</manifest>
